$primary: #00479B; // Replace with your desired primary color

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.navbar-nav .separator {
    width: 1px;
    height: 40px; /* Adjust height according to your navbar height */
    background-color: #ddd; /* Adjust color as needed */
    margin: 0 10px; /* Adjust spacing as needed */
}

.navbar-nav .nav-item .nav-link.active {
    color: #00479B;  /* Text color */
    border-radius: 4px;  /* Rounded corners */
    font-weight: bold;  /* Bold text */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #00479B;  /* Text color on hover */
    border-radius: 4px;  /* Rounded corners */
}

span {
    cursor: pointer;
    /* Mengubah kursor menjadi tanda tangan saat di atasnya */
}

span:active {
    transform: translateY(1px);
    /* Mendorong elemen sedikit ke bawah saat ditekan */
}

#element-on-top-left {
    position: absolute;
    top: 40px;
    padding: 10px;
    z-index: 1000;
    width: 310px;
    height: 702px;
}

#element-on-top-right {
    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px;
    z-index: 1000;
    width: 310px;
    height: 664px;
}

#koordinat {
    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px;
    z-index: 1000;
    width: 310px;
    display: none;
    // height: 702px;
}

.nav-container {
    max-width: 100%;
    /* Lebar maksimal */
    overflow-x: auto;
    /* Scroll horizontal */
    white-space: nowrap;
    /* Mencegah wrap ke baris baru */
}

.sidebar-left { 
    min-height: 500px;
    display: none;
    // background-color: white;
}

.sidebar-right { 
    min-height: 500px;
    display: none;
    // background-color: white;
}


.sidebar_toggle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    position: absolute;
}


.form-group {
    margin-bottom: 1rem;
}

.label-group {
    margin-bottom: 0.5rem;
}


.searchbar_sidebar_container {
    margin-top: 110px;
    position: absolute;
    width: 66%;
    height: 30px;
}

.searchbar_sidebar_input {
    border-radius: 0 0 0 0 !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    height: 30px;
    width: 100%;
    padding: 0 .5em;
}

.information_container {
    background: white;
    padding: 11px;
    margin-top: 149px;
    width: 87%;
    height: 300px;
    overflow: auto;
    position: absolute;
    border-radius: 3px;
}

.block_color_text_container {
    display: flex;
}

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
